/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 2.5rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: #666d6e;
  --second-color: #cfdbdb;
  --third-color: #59dbe4;
  --forth-color: #222629;
  --fifth-color: #1e3138;

}
/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background-color: var(--forth-color);
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,
h2,
p {
  margin-top: 5%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--third-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background: var(--fifth-color);
  text-align: center;
  box-shadow: 0 1px 4px var(--first-color);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: var(--fifth-color);
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo {
  color: var(--second-color);
  font-size: 1.4rem;
}
.nav__toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--second-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data {
  align-self: auto;
}
.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-1);
}
.home__title-color {
  color: var(--first-color);
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: auto;
  margin-bottom: var(--mb-2);
  font-size: 2rem;
  color: var(--first-color);
}
.home__social-icon:hover {
  color: var(--third-color);
  transform: scale(1.1);
}
.home__img {
  position: absolute;
  right: 10%;
  bottom: 10%;
  width: 218px;
  overflow: hidden;
  box-shadow: 0 4px 25px rgb(71, 75, 79);
  border-radius: 100%;
}
.home__img img {
  transition: 1s;
  cursor: pointer;
}
.home__img img:hover {
  transform: scale(1.1);
}

/*BUTTONS*/
.home__data .button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--third-color);
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  margin-right: 20px;
}
.home__data .button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mb-4);
}
.about__img {
  justify-self: center;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
}
.about__img img {
  width: 500px;
  border-radius: 0.5rem;
}
.about__img img {
  transition: 1s;
  cursor: pointer;
}
.about__img img:hover {
  transform: scale(1.1);
}

/* ===== SKILLS =====*/

#skills {
  padding-bottom: 0rem;
}
.circle {
  border: 2px solid var(--first-color);
  position: relative;
  margin: 0 0 1.5rem;
}

.circle:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid var(--second-color);
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
  animation: wave 1.5s infinite linear;
}

@keyframes wave {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* Slider start */
.slick-slide {
  margin: 4rem 2rem 0 2rem;
}
.slick-slide .circle {
  background: var(--first-color);
  width: 140px; 
  height: 140px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--forth-color);
  /* font-weight: 550; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.slick-track
{
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;
  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}
.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Slider end */


/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
  text-align: center;
}
.work__container .container {
  position: relative;
  width: 100%;
}

.work__container .image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.projectBox {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border: 1px solid #d4d4e3;
  border-radius: 10px;
}

.projectBox:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.work__container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--forth-color);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 10px 10px 0 0;
}

.work__container .container:hover .overlay {
  height: 100%;
}

.work__container .text {
  margin: 5%;
  justify-content: center;
}
.aboutProject{
  font-size: 12px;
  text-align: left;
}
.text {
  display: flex;
}

.text .button-box {
  position: absolute;
  bottom: 0;
  margin: 2%;
}
.work__container .button {
  background-color: var(--fifth-color);
  color: var(--second-color);
  box-shadow: 2 10px 36px rgba(0, 0, 0, 0.15);
  padding: 0.5rem 0.5rem;
  font-weight: 100;
  border-radius: 0.5rem;
  font-size: small;
  /* margin: 5% 2.5%; */
}
.work__container .button:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.projectTitle h3 {
  background-color: var(--forth-color);
  padding: 10px 0;
  margin: 0;
  border-radius: 0 0 10px 10px;
}
/* ===== FOOTER =====*/
.footer {
  background: var(--fifth-color);
  text-align: center;
  padding: 1rem 0;
  color: var(--second-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.footer__title {
  font-size: 1.7rem;
  margin-bottom: var(--mb-1);
}
.footer__social {
  margin-bottom: var(--mb-1);
}
.footer__icon {
  font-size: 2rem;
  color: var(--first-color);
  margin: 0 var(--mb-1);
}
.footer__icon:hover {
  color: var(--third-color);
  transform: scale(1.1);
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.footer-msg{
  font-size: 12px;
  line-height: 25px;
  color: var(--first-color);
  margin: 0;
}

.footer .row {
  padding: 50px 50px 20px 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
span.timeline-text {
  font-size: 16px;
  line-height: 25px;
  color: var(--first-color);
  margin: 0;
}
/* ===== MEDIA QUERIES=====*/

@media (max-width: 740px) {
  .column {
    width: 100%;
    padding: 10px;
  }
  .footer .row {
    padding: 0;
  }
  .home__data .button{
    margin-right: 0;
  }
}

/* experience */

.section .container {
  padding-top: 0;
  padding-bottom: 0;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
#experience .row {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.about-content .timeline .timeline-item::before,
.about-content .timeline .circle-dot {
  background-color: var(--third-color);
}
.about-content .education {
  flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about-content .experience {
  flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about-content .timeline-box {
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  max-width: 100%;
}
.about-content .timeline {
  background-color:var(--fifth-color);
  padding: 30px 15px;
  border-radius: 10px;
  width: 100%;
  position: relative;
}
.about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}
.about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}
.about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
}
.about-content .timeline .timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 0;
  color: var(--first-color);
}
.about-content .timeline .timeline-date fa {
  margin-right: 5px;
}
.about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  left: 0px;
  border-radius: 50%;
}
.about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--first-color);
}
.about-content .timeline .timeline-text {
  font-size: 16px;
  line-height: 25px;
  color: var(--second-color);
  margin: 0;
}
.about-content .timeline .timeline-role {
  font-size: 14px;
  color: var(--second-color);
  margin: 0;
}

/* ===== MEDIA QUERIES=====*/

@media (max-width: 740px) {
  .about-content .education {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
  }
  .about-content .experience {
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
  }
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--third-color);
  }
  .name_color{
    color: var(--third-color);
  }

  .home {
    height: 100vh;
  }
  .home__data {
    align-self: flex-end;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 420px;
    bottom: 15%;
  }

  .about__container,
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .about__img img {
    width: 500px;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  @media screen and (min-width: 1024px) {
    .bd-grid {
      margin-left: auto;
      margin-right: auto;
    }
    .home__img {
      right: 5%;
    }
  }
}
